# Ignore all files without extensions, except from makefiles
*
!/**/
!*.*
!Makefile

# Latex
*.out
*.pdf
*.aux
*.log
*.bcf
*.fls
*.fdb_latexmk
*.run.xml
*.dvi
settings.json
__latexindent_temp.tex
*synctex.gz
*.bbl
*.blg

# python
**/__pycache__/
*.pyc

# C++
*.out
*.o

# Other
**/.vscode/
